<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="MyGet tigra-astronomy" value="https://www.myget.org/F/tigra-astronomy/api/v3/index.json" />
    <add key="Tigra Astronomy OSS Integration Builds" value="http://teamcity.tigra-astronomy.com:8111/guestAuth/app/nuget/feed/TigraOss/TigraOSS/v3/index.json" />
  </packageSources>
  <!--<disabledPackageSources>
    <add key="Tigra Astronomy OSS Integration Builds" value="http://teamcity.tigra-astronomy.com:8111/guestAuth/app/nuget/feed/TigraOss/TigraOSS/v3/index.json" />
  </disabledPackageSources>-->
</configuration>