<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="GitTools" value="https://nuget.pkg.github.com/GitTools/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="NameOfTheDragon" />
      <add key="ClearTextPassword" value="0fd73e6ba6d92489adcbf45a2f1cab5c869c557e" />
    </github>
  </packageSourceCredentials>
</configuration>